{% load static %}
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">
</head>
{% load static %}
<body style="background-image: url('../media/picture/hero-bg.jpg');">

  <div class="container my-4">

    <center><h1 style="color: #FFFFFF;font-family: 'Bitstream Vera Sans Mono'"> Best Trailes</h1></center>


    <hr class="new4" color="white"/>
    <div style="overflow: auto;justify-content: space-between;flex-flow: wrap;flex-direction:row;display: flex;border:20px; width:100%; height:50%;background-color: black; margin-top: 20px; ">
      
      
          
               <a href="https://youtu.be/iXdw5wYI4cY"  style="color: #FFFFFF;font-family: 'Bitstream Vera Sans Mono'"><p style=" background-image: url('../media/picture/next365days.jpg');width:200px; height:200px;border-radius:20px;background-size: 100%; "></p>
                  <p style="color: #FFFFFF">Name:Next 365 days</p>
                   <p>Genre:Romantic</p>
                  <p style="color: wheat;">Shared by: Elyse</p>
               </a>

               <a href="https://youtu.be/rK-JQU_bShc"  style="color: #FFFFFF;font-family: 'Bitstream Vera Sans Mono'"><p style=" background-image: url('../media/picture/do-revenge.jpg');width:200px; height:200px;border-radius:20px;background-size: 100%; "></p>
                  <p style="color: #FFFFFF">Name:Do revenge</p>
                   <p>Genre:Action</p>
                  <p style="color: wheat;">Shared by: Peter</p>
               </a>

               <a href="https://youtu.be/BaJ41mC181w"  style="color: #FFFFFF;font-family: 'Bitstream Vera Sans Mono'"><p style=" background-image: url('../media/picture/commando.jpg');width:200px; height:200px;border-radius:20px;background-size: 100%; "></p>
                  <p style="color: #FFFFFF">Name:Commando</p>
                   <p>Genre:Action</p>
                  <p style="color: wheat;">Shared by: Peter</p>
               </a>

               <a href="https://youtu.be/XI-Fmx9SYnw"  style="color: #FFFFFF;font-family: 'Bitstream Vera Sans Mono'"><p style=" background-image: url('../media/picture/terminator.jpg');width:200px; height:200px;border-radius:20px;background-size: 100%; "></p>
                  <p style="color: #FFFFFF">Name:Terminator 3</p>
                   <p>Genre:Action</p>
                  <p style="color: wheat;">Shared by: max</p>
               </a>

               <a href="https:https://youtu.be/oQjEsduxE3A"  style="color: #FFFFFF;font-family: 'Bitstream Vera Sans Mono'"><p style=" background-image: url('../media/picture/rambo.jpg');width:200px; height:200px;border-radius:20px;background-size: 100%; "></p>
                  <p style="color: #FFFFFF">Name:Rambo</p>
                   <p>Genre:Action</p>
                  <p style="color: wheat;">Shared by: Musaa</p>
               </a>

               <a href="https://youtu.be/67LLYBhG-Og"  style="color: #FFFFFF;font-family: 'Bitstream Vera Sans Mono'"><p style=" background-image: url('../media/picture/jacky.jpg');width:200px; height:200px;border-radius:20px;background-size: 100%; "></p>
                  <p style="color: #FFFFFF">Name:Who Am I</p>
                   <p>Genre:Action</p>
                  <p style="color: wheat;">Shared by: jaxx</p>
               </a>
       
    </div>
  



            
    {% if user.is_authenticated %}

    <div class="border border-light p-3 mb-4">

      

    <center><h1 style="color: #FFFFFF;font-family: 'Bitstream Vera Sans Mono'"> Latest movies</h1></center>
    <hr class="new4" color="white"/>
    <div  style="overflow: auto;justify-content: space-between;flex-flow: wrap;flex-direction:row;display: flex;border:20px; width:100%; height:50%;background-color: black; margin-top: 20px; " >

       {% for mv in posts %}
          
               <a href="{{mv.movie_url}}"  style="color: #FFFFFF;font-family: 'Bitstream Vera Sans Mono'"><img src="{{ mv.image.url }}" style=" width:200px; height:200px;border-radius:20px ">
                  <p style="color: #FFFFFF">Name:{{ mv.title }}</p>
                   <p>Genre:{{ mv.movie_gne }}</p>
                  <small style="color: brown">Shared by:{{ mv.author }}</small>
               </a>
       {% endfor %}
    


    </div>

  </div>
{% endif %}

    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">

          <a class="navbar-brand mr-4" href=""><img src="{% static '../media/picture/logo1.jpg' %}" alt="" style="width: 150px ;height:60px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <img src="{% static 'media/picture/log1.jpg' %}" alt="">

              <a class="nav-item nav-link" href="{% url 'index' %}" style="font-size: 15px;">Home</a>
              <a class="nav-item nav-link" href="{% url 'info'%}" style="font-size: 15px;">About us</a>&nbsp;&nbsp;
                <form method="POST" action="{% url 'search' %}">

                    {% csrf_token %}
                <input type="search" name="searched" placeholder="Search.." class="search" style="color: #0d0d0d;margin-top: 7px">
                <button type="submit" class="btn btn-success btn-block" style="color: #FFFFFF;width: 40%;">search</button>
                </form>
            </div>

            <div class="navbar-nav">
                {% if user.is_authenticated %}
                   <a class="btn btn-success btn-block" style="color: white" href="{% url 'post-create'%}">Share Movie</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                   <a class="btn btn-success btn-block" style="color: white" href="{% url 'profile'%}">Profile</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                   <a class="btn btn-success btn-block" style="color: white" href="{% url 'logout'%}">Logout</a>
                {% else %}
                  <a class="btn btn-success btn-block" style="color: white" href="{% url 'login'%}">Login</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <a class="btn btn-success btn-block" style="color: white" href="{% url 'register'%}">Sinup!</a>
                {% endif %}
            </div>








